#value	name	release
adipose tissue	Adipose tissue	2018-10-23
adrenal gland	Adrenal gland	2018-10-23
amygdala	Amygdala	2020-02-03
appendix	Appendix	2018-10-23
basal ganglia	Basal ganglia	2020-02-03
B-cells	B-cells	2020-02-03
bone marrow	Bone marrow	2018-10-23
breast	Breast	2018-10-23
cerebellum	Cerebellum	2020-02-03
cerebral cortex	Cerebral cortex	2018-10-23
cervix_uterine	Cervix, uterine	2018-10-23
colon	Colon	2018-10-23
corpus callosum	Corpus callosum	2020-02-03
dendritic cells	Dendritic cells	2020-02-03
ductus deferens	Ductus deferens	2020-02-03
duodenum	Duodenum	2018-10-23
endometrium	Endometrium	2018-10-23
epididymis	Epididymis	2018-10-23
esophagus	Esophagus	2018-10-23
fallopian tube	Fallopian tube	2018-10-23
gallbladder	Gallbladder	2018-10-23
granulocytes	Granulocytes	2020-02-03
heart muscle	Heart muscle	2018-10-23
hippocampal formation	Hippocampal formation	2020-02-03
hypothalamus	Hypothalamus	2020-02-03
kidney	Kidney	2018-10-23
liver	Liver	2018-10-23
lung	Lung	2018-10-23
lymph node	Lymph node	2018-10-23
midbrain	Midbrain	2020-02-03
monocytes	Monocytes	2020-02-03
NK-cells	NK-cells	2020-02-03
olfactory region	Olfactory region	2020-02-03
ovary	Ovary	2018-10-23
pancreas	Pancreas	2018-10-23
parathyroid gland	Parathyroid gland	2018-10-23
pituitary gland	Pituitary gland	2020-02-03
placenta	Placenta	2018-10-23
pons and medulla	Pons and medulla	2020-02-03
prostate	Prostate	2018-10-23
rectum	Rectum	2018-10-23
retina	Retina	2020-02-03
salivary gland	Salivary gland	2018-10-23
seminal vesicle	Seminal vesicle	2018-10-23
skeletal muscle	Skeletal muscle	2018-10-23
skin	Skin	2018-10-23
small intestine	Small intestine	2018-10-23
smooth muscle	Smooth muscle	2018-10-23
spinal cord	Spinal cord	2020-02-03
spleen	Spleen	2018-10-23
stomach	Stomach	2018-10-23
substantia nigra	Substantia nigra	2020-02-03
T-cells	T-cells	2020-02-03
testis	Testis	2018-10-23
thalamus	Thalamus	2020-02-03
thymus	Thymus	2020-02-03
thyroid gland	Thyroid gland	2018-10-23
tongue	Tongue	2020-02-03
tonsil	Tonsil	2018-10-23
total PBMC	Total PBMC	2020-02-03
urinary bladder	Urinary bladder	2018-10-23
vagina	Vagina	2020-02-03
