#This file lists the locations of reference file for id_converter tool
#<name>	<value>	<path>
#human_id_mapping	Human (homo sapiens)	tool-data/human_id_mapping_file.tsv
#mouse_id_mapping	Mouse (Mus musculus)	tool-data/mouse_id_mapping.tsv
#rat_id_mapping 	Rat (Rattus norvegicus)	tool-data/rat_id_mapping.tsv
