#This file lists the locations name and values of reference files 
#for number of MS/MS observations in a tissue
#This is a tab separated file (TAB, not 4 spaces !)
#
#<tissue>	<name>	<value>


#Human_Heart_20-07-2018	Human Heart 20/07/2018	/projet/galaxydev/galaxy/tool-data/peptide_atlas/Human_Heart_20-07-2018.tsv
#Human_Liver_20-07-2018	Human Liver 20/07/2018	/projet/galaxydev/galaxy/tool-data/peptide_atlas/Human_Liver_20-07-2018.tsv
#Human_Urine_20-07-2018	Human Urine 20/07/2018	/projet/galaxydev/galaxy/tool-data/peptide_atlas/Human_Urine_20-07-2018.tsv
#Human_Brain_20-07-2018	Human Brain 20/07/2018	/projet/galaxydev/galaxy/tool-data/peptide_atlas/Human_Brain_20-07-2018.tsv
#Human_Kidney_20-07-2018	Human Kidney 20/07/2018	/projet/galaxydev/galaxy/tool-data/peptide_atlas/Human_Kidney_20-07-2018.tsv
#Human_Plasma_20-07-2018	Human Plasma 20/07/2018	/projet/galaxydev/galaxy/tool-data/peptide_atlas/Human_Plasma_20-07-2018.tsv
#Human_CSF_20-07-2018	Human CSF 20/07/2018	/projet/galaxydev/galaxy/tool-data/peptide_atlas/Human_CSF_20-07-2018.tsv
#Human_Liver_23-07-2018	Human Liver 23/07/2018	/projet/galaxydev/galaxy/tool-data/peptide_atlas/Human_Liver_23-07-2018.tsv
