#This file lists the locations name and values of reference files for Get expression data tool
#This is a tab separated file (TAB, not 4 spaces !)
#<id>	<name> <tissue>	<value>
#HPA_pathology_19-07-2018	HPA pathology 19/07/2018	HPA_pathology	/projet/galaxydev/galaxy/tool-data/protein_atlas/projet/galaxydev/galaxy/database/jobs_directory/019/19160/dataset_39308_files/HPA_pathology_19-07-2018.tsv
