#id	name	species	value
#biogrid_human_08-01-2019	Human (Homo sapiens) 08/01/2019	Human	PPI_dictionaries/Human_biogrid.json
#biogrid_mouse_08-01-2019	Mouse (Mus musculus) 08/01/2019	Mouse	PPI_dictionaries/Mouse_biogrid.json
#biogrid_rat_08-01-2019	Rat (Rattus norvegicus) 08/01/2019 Rat	PPI_dictionaries/Rat_biogrid.json
