#This file lists the locations of reference file for id_converter tool
#<id>	<release>   <name>	<value>	<path>
#9979819899   human_id_mapping_01-01-2018	Human (homo sapiens)	human_id_mapping	tool-data/human_id_mapping.tsv
