#This file lists the locations name and values of reference files 
#for Get expression data tool
#This is a tab separated file (TAB, not 4 spaces !)
#
#<name> <value>	<path>
#
#protein_atlas.loc could look something like this:
#
#HPA normal tissue 19/07/2018	HPA_normal_tissue	/projet/galaxydev/galaxy/tool-data/protein_atlas/projet/galaxydev/galaxy/database/jobs_directory/019/19159/dataset_39307_files/HPA_normal_tissue_19-07-2018.tsv
#HPA pathology 19/07/2018	HPA_pathology	/projet/galaxydev/galaxy/tool-data/protein_atlas/projet/galaxydev/galaxy/database/jobs_directory/019/19160/dataset_39308_files/HPA_pathology_19-07-2018.tsv
#HPA full atlas 19/07/2018	HPA_full_atlas	/projet/galaxydev/galaxy/tool-data/protein_atlas/projet/galaxydev/galaxy/database/jobs_directory/019/19161/dataset_39309_files/HPA_full_atlas_19-07-2018.tsv
#
