#id	name	value	path
#biogrid_human_08-01-2019	Human (Homo sapiens)	Human	PPI_dictionaries/Human_biogrid.json
#biogrid_mouse_08-01-2019	Mouse (Mus musculus)	Mouse	PPI_dictionaries/Mouse_biogrid.json
#biogrid_rat_08-01-2019	Rat (Rattus norvegicus) Rat	PPI_dictionaries/Rat_biogrid.json
