#This file lists the locations of reference file for id_converter tool
#<id>	<release>   <name>	<value>	<path>
#9979819899 rat_id_mapping_01-01-2018	Rat (Rattus norvegicus)	rat_id_mapping	tool-data/rat_id_mapping.tsv
