#id	name	value	path
#bioplex_human_08-01-2019	Human (Homo sapiens)	Human	PPI_dictionaries/human_bioplex.json
#bioplex_mouse_08-01-2019	Mouse (Mus musculus)	Mouse	PPI_dictionaries/mouse_bioplex.json
#bioplex_rat_08-01-2019	Rat (Rattus norvegicus)	Rat	PPI_dictionaries/rat_bioplexdico.json
