#This file lists the names of protein databases installed locally in protk. 
# These are used by omssa and x!tandem as well as the "mascot to pepxml" tool
# In order to combine search results with Interprophet searches must be run against an identical database
#
# Entries should follow the be structured as follows
# Display_name omssa_tandem_dbname dbkey
#
#
Swissprot	spall_	spall	spall_
Combined PlasmboDB (falciparum) and Swissprot Human	plasmodb_pfalciparum_sphuman_	plasmodb_pfalciparum_sphuman	plasmodb_pfalciparum_sphuman_
Swissprot Human	sphuman_	sphuman	sphuman_
Combined Swissprot/TRembl Human	sptrhuman_	sptrhuman	sptrhuman_
Swissprot Mouse	spmouse_	spmouse	spmouse_
