#This file lists the locations of reference file for id_converter tool
#<id>	<release>   <name>	<species>	<value>
9979799892	Human_id_mapping_08-01-2020	Human (Homo sapiens 18/12/2019)	Human	tool-data/Human_id_mapping_08-01-2020.tsv
