#This file lists the locations of reference file for id_converter tool
#<id>	<release>   <name>	<species>	<value>
9979799892	Mouse_id_mapping_08-01-2020	Mouse (Mus musculus 18/12/2019)	Mouse	tool-data/Mouse_id_mapping_08-01-2020.tsv
