#This file lists the locations of reference file for id_converter tool
#<id>	<release>   <name>	<species>	<value>
9979799892	Rat_id_mapping_08-01-2020	Rat (Rattus norvegicus 18/12/2019)	Rat	tool-data/Rat_id_mapping_08-01-2020.tsv
