#This file lists the locations of reference file for id_converter tool
#<id>	<release>   <name>	<species>	<value>
9979818977	rat_id_mapping_23-10-2018	Rat (Rattus norvegicus 23-10-2018)	Rat	tool-data/rat_id_mapping_23-10-2018.tsv
9979809473	Rat_id_mapping_27-05-2019	Rat (Rattus norvegicus 27-05-2019)	Rat	tool-data/Rat_id_mapping_27-05-2019.tsv
