#This file lists the locations of reference file for id_converter tool
#<id>	<release>   <name>	<species>	<value>
9979818977	human_id_mapping_23-10-2018	Human (homo sapiens 10/10/2018)	Human	tool-data/human_id_mapping_23-10-2018.tsv
9979809473	Human_id_mapping_27-05-2019	Human (homo sapiens 08/05/2019)	Human	tool-data/Human_id_mapping_27-05-2019.tsv
9979809387	Human_id_mapping_13-06-2019	Human (Homo sapiens 05/06/2019)	Human	tool-data/Human_id_mapping_13-06-2019.tsv

