#This file lists the locations of reference file for id_converter tool
#<id>	<name>	<species>	<value>
mouse_id_mapping_23-10-2018	Mouse (Mus musculus 23/10/2018)	Mouse	tool-data/mouse_id_mapping_23-10-2018.tsv
