#This file lists the locations of reference file for id_converter tool
#<id>	<name>	<species>	<value>
rat_id_mapping_23-10-2018	Rat (Rattus norvegicus 23/10/2018)	Rat	tool-data/rat_id_mapping_23-10-2018.tsv
