#This file lists the locations of reference file for id_converter tool
#<id>	<release>   <name>	<species>	<value>
9979818977	mouse_id_mapping_23-10-2018	Mouse (Mus musculus 23-10-2018)	Mouse	tool-data/mouse_id_mapping_23-10-2018.tsv
9979809473	Mouse_id_mapping_27-05-2019	Mouse (Mus musculus 27-05-2019)	Mouse	tool-data/mouse_id_mapping_27-05-2019.tsv
