<tables>
    <!-- Location of ID Mapping files for id_converter-->
    <table name="proteore_id_mapping" comment_char="#">
        <columns>id, name, value, path</columns>
        <file path="tool-data/proteore_id_mapping.loc" />
    </table>
</tables>