<tables>
    <!-- Location of reference file for id_converter -->
    <table name="human_id_mapping" comment_char="#">
      <columns>name, value, path</columns>
      <file path="tool-data/human_id_mapping.loc" />
    </table>
</tables>