<html>

  <head>
    <title>Treeview example</title>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <!-- Visualiations -->
    <script src="../dist/unipept-visualizations.es5.js"></script>

    <script>
      $(function() {

        d3.json("data/taxonomy.json", function(error, data) {
          if (error) return console.warn(error);

          $("#d3TreeView").treeview(data, {
            width: 900,
            height: 600,
            getTooltip: function(d) {
              let numberFormat = d3.format(",d");
              return "<b>" + d.name + "</b> (" + d.data.rank + ")<br/>" + numberFormat(!d.data.self_count ? "0" : d.data.self_count) + (d.data.self_count && d.data.self_count === 1 ? " sequence" : " sequences") +
                " specific to this level<br/>" + numberFormat(!d.data.count ? "0" : d.data.count) + (d.data.count && d.data.count === 1 ? " sequence" : " sequences") + " specific to this level or lower";
            }
          });
        });
      });

    </script>
  </head>

  <body>
    <div id="d3TreeView"></div>
  </body>

</html>
