Homo sapiens (Human)	9606
Rattus norvegicus (Rat)	10116
Mus musculus (Mouse)	10090
Bos taurus (Bovine)	9913
Sus scrofa (Pig)	9823
Escherichia coli (strain K12)	83333
Arabidopsis thaliana (Mouse-ear cress)	3702
Caenorhabditis elegans (C.elegans)	6239
Drosophila melanogaster (Fruit fly)	7227
Saccharomyces cerevisiae (Baker's Yeast)	4932