/*set all fonts to roboto */

body {
  font-family: "Roboto";
}

/*outermost frame on page*/
.outer-frame {
  width: 800px;
  box-shadow: 10px 10px 5px #888888;
  margin: 0 auto;
}

/*applies to the container with buttons, actual image, and helper text*/
.content-container {
  position: relative;
  border: 1px solid black;
  display: block;
}

/*modifies wrapper associated with each viz type*/
.content-container .wrapper {
  width: 800px;
  height: 830px;
  margin: 0;
  padding: 0;
}

/*modifies header with buttons and helper text*/
.content-container .wrapper .ghead {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 16px;
  padding: 0;
  line-height: 30px;
  text-align: right;
  border: 0;
  color: #333;
  height: 30px;
}

/*reset button */
.content-container .wrapper .ghead img {
  height: 14px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom:2px;
  float: right;
  margin: 2.5px;
  border: 1px solid black;
  border-radius: 7px;
  border-color: rbga(0, 0, 0, 0.3);
  box-shadow: 2px 2px 1px #888888;
  display: inline;
}

/*help text*/
.content-container .wrapper .ghead .dirtext {
  padding: 5px;
  text-weight: light;
  font-size: 12px;
}


/* tab: from https://www.w3schools.com/howto/howto_js_tabs.asp */

/* style tab*/
div.tab {
  overflow: hidden;
  background-color: #2196f3;
  width: 800px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 50px;
  margin-bottom: 0;
}

/*style text*/
div.tab a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* style buttons inside tab*/
div.tab a.button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px 10px 10px;
  transition: 0.2s;
}

/*change color on hover */
div.tab a.button:hover {
  border-bottom: 5px solid #ffc107;
}

/*create active tab class*/
div.tab a.button.active {
  border-bottom: 5px solid #ffc107;
}
