<tables>
    <!-- Locations of all eggnog_mapper data -->
    <table name="eggnog_mapper_db" comment_char="#" allow_duplicate_entries="False">
        <columns>value,name,path</columns>
        <file path="tool-data/eggnog_mapper_db.loc" />
    </table>
    <table name="eggnog_mapper_hmm_dbs" comment_char="#" allow_duplicate_entries="False">
        <columns>key,db_version,value,name,path</columns>
        <file path="tool-data/eggnog_mapper_hmm_dbs.loc" />
    </table>
</tables>
