<tables>
    <!-- Locations of all eggnog_mapper data -->
    <table name="eggnog_mapper_db_versioned" comment_char="#" allow_duplicate_entries="False">
        <columns>value,name,path,version</columns>
        <file path="tool-data/eggnog_mapper_db_versioned.loc" />
    </table>
</tables>
