<tables>
    <!-- Locations of all customProDB annotations under genome directory -->
    <table name="customProDB" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/customProDB.loc" />
    </table>
</tables>
