#name	date	organism	value(path)
Human (Homo sapiens)	27-07-18	hsa	tool-data/l.hsa.gene.RData
Mouse (Mus musculus)	27-07-18	mmu	tool-data/l.mmu.gene.RData
Rat (Rattus norvegicus)	19-09-19	rno	tool-data/l.rno.gene.RData
