<tables>
    <!-- location uniprot_kegg_list for find pathways tool-->
    <table name='uniprot_kegg_list' comment_char="#">
        <columns>name,date,organism,value</columns>
        <file path="tool-data/uniprot_kegg_list.loc"/>
    </table>
    <!-- location entrez_kegg_list for find pathways tool-->
    <table name='entrez_kegg_list' comment_char="#">
        <columns>name,date,organism,value</columns>
        <file path="tool-data/entrez_kegg_list.loc"/>
    </table>
</tables>
