#This file lists the locations and dbkeys of all the fasta files
#under the "customProDB" directory (a subdirectory of a genome build).
#This file has the format (white space characters are TAB characters):
#
#<unique_build_id>	<dbkey>		<display_name>	<path to annotation files>
#
#So, all_fasta.loc could look something like this:
#
#apiMel3	apiMel3	Honeybee (Apis mellifera): apiMel3		/path/to/genome/apiMel3
#hg19canon	hg19		Human (Homo sapiens): hg19 Canonical		/path/to/genome/hg19
#hg19full	hg19		Human (Homo sapiens): hg19 Full			/path/to/genome/hg19full
#
#Your customProDB.loc file should contain an entry for each individual
#fasta file. So there will be multiple fasta files for each build,
#such as with hg19 above.
#
