:root {
	--highlight-color: #e6f2ff; /* Light blue */
	--primary-color: #38537f; /* Navy blue */
	--secondary-color:#C4B08D; /* Rust gold */
	--tertiary-color: #62A3C3; /* Light blue*/
	--quarternary-color:#A1B3C1; /* Steel blue */
	--galaxy1:#EBD9B1;
	--galaxy2:#DAB870;
	--height: calc(100vh - 50px);
	--mouseover: #CDD3EA;
	--selected: #3879D9;
	--light-yellow: #3879D9;
}

body{
	height:100%;
	background-color:white;
	font-style:;
}

html{
	min-height:100%;
	position:relative;
}

/*-- Loading Indicator --*/

.loaderIndicator {
	border: 15px solid var(--galaxy1));
	border-top: 15px solid var(--galaxy1);
	border-left: 15px solid var(--galaxy2);
	border-right: 15px solid var(--galaxy2);
	border-bottom: 15px solid var(--galaxy1);
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin-left:auto;
	margin-right:auto;
	animation: spin 1s linear infinite;
}

.indicator {
	margin:auto;
	width:200px;
	margin-top: 25vh;
	text-align:center;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}

@keyframes spin{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*-- --*/

#container {
	margin-top: 35px;
	background-color:white;
	border-radius: 3px;
	border: 1px solid var(--galaxy2);
	height: var(--height);
	width:100%;
	min-width: 272px;
	overflow:hidden;
}


.chart-header{
	background-color:#EEEEEE;
	color:black;
	width:100%;
	height:30px;
	padding-left:20px;
	font-size: 12px;
	padding: 7px;
	font-weight: bold;
	margin:0px;
	float:left;
	overflow:hidden;
	min-width:600px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid #AAB1B7;
}

/*-- Tabs --*/

#tabs {
	width:100%;
	background-color:#f2f2f2;
	padding:5px;
	float:left;
	padding-bottom:0px;
	height:30px;
	margin-bottom:0px;
}

#tabContainer {
	width:100%;
	float:left;
}

.loaded {
	background-color:white;
	color: black;
}

.loading {
	background-color:#f2f2f2;
	color:#afafaf;
}

.loading.active{
	background-color:#f2f2f2;
	color:#afafaf;
}

.loading


.active {
	height:30px;
}

.nav-tabs button{
	height: 23px;
	padding:3px;
	float:left;
	border-radius:0px;
	font-size:9px;
	border-bottom-color:white;
	position: relative;
	top: 2px;
}

.active{
	display: block;
}

.hidden{
	display: none;
}


/*-- Sidebar --*/
.sidebar{
	background-color:white;
	border-right: 1px solid grey;
	margin:0px;
	padding: 0px;
	height:100%;
	overflow: auto;
	position:relative;
}

.left-cell {
	display: table-cell;
	max-width:215px;
	height:100%;
	padding-top: 0px;
	border-spacing:0px;
	border-collapse: separate;
	vertical-align:top;

	-webkit-transition: max-width .25s; /* Safari */
    transition: max-width .25s;

}

.sidebar-button {	
	height:15px;
	width:15px;
	padding:0px;
	font-size: 8px;
	position: absolute;
	top: 0px;
	right: 0px;
	display: table-cell;
}

.sidebar-button:hover{
	background-color: var(--selected);
}


.load-message{
	color: red;
}

.dropdown-view {
	float:left;
	height:100%;
	width:100%;
}

.columnOption {
	height:30px;
	background-color: #f1f1f1;
	border-radius: 10px;
	padding: 4px;
	margin: 1px;
}

.columnOption:hover {
	background-color:var(--highlight-color);
	border-radius: 8px;
}

.shown {
	background-color: var(--tertiary-color);
}

.shown:hover {
	background-color: var(--secondary-color);
}

.options{
	margin:2px;
}

.content{
	height: calc(100% - 30px);
	width: 100%;
	float:left;
}

.contentTab{
	width:100%;
	height:100%;
	float: left;
	display:none;
	display:table;
}

.columns-collection-view {
	max-height: 0px;

    -webkit-transition: max-height .25s; /* Safari */
    transition: max-height .25s;
    width:100%;

    float:left;
    overflow:hidden;
}

.column-type-collection {
	overflow: hidden;
	max-height: 90vh;

	-webkit-transition: max-height .25s; /* Safari */
    transition: max-height .25s;
}

.box {
	border-style: solid;
	border-width: 1px;
	border-color:grey;
	min-width: 180px;
	margin: 15px;
	padding: 5px;
	padding-top: 20px;
	border-radius: 4px;
	overflow:hidden;

	-webkit-transition: height .5s; /* Safari */
    transition: height .5s;
}

.label {
	color: black;
	position: relative;
	background-color: white;
	top: 23px;
	left: 20px;
	font-size: 13px;
	font-weight: bold;
}

.loader {
	-webkit-transition: max-height .5s; /* Safari */
    transition: max-height .5s;
    width:100%;
	max-height:1200px;
	margin:0px;
    float:left;
    overflow:hidden;
}

.dropdown {
	width: 100%;
}

.filter-category {
	padding: 5px;
	margin: 5px;
	background-color:var(--highlight-color);
	border-radius: 5px;
}



.load {
	background-color: #a9f9ac;
}

.load:hover {
	background-color: #42f445;
}

.open{
	height: 200px;
}

.visibility-button{
	height:15px;
	width:15px;
	padding:0px;
	font-size: 8px;
	margin-left:5px;
}

/*-- Summary --*/

.bordered {
	border-style: solid;
	border-width: 1px;
	border-color:grey;
	border-radius:10px;
	margin: 20px;
}

.pie-chart{
	height:320px;
	min-width: 300px;
	max-width: 300px;
	float:left;
	/*border-style: dashed;*/

	margin: 20px;
}

#pie-charts{
	min-width:1020px;
	width: 90%;
	float:left;
	height:360px;
	display: flex;
	justify-content: space-between;

}

#summary-charts{
	padding:0px;
	max-height: 1100px;
	min-height: 1100px;
	min-width:1200px;
	overflow-x:scroll;
	margin: 0 auto;
}

.summaryTable {
	width:200px;
	max-height:500px;
	float:left;
	margin: 10px;
}

.summary {
	float:left;
	height: 100%;
	overflow:scroll;
	display: table-cell;
}

#Summary > .right-cell {
	overflow: scroll;
}

#CircosPlot{
	float:left;
	height:600px;
	width:600px;

	margin: 10px;
	margin-left: 200px;
	padding: 10px;
	overflow:hidden;
}

#top-genes-table{
	float:left;
	width:300px;
}

svg{
	height:100%;
	width:100%;
	padding: 10px;
}

#cy{
	float:left;
	height:400px;
	width:700px;
	margin:20px;
}

#ndex{
	float:left;
}

/*-- Variant Viewer iFrame -- */


.frame-loader{
	background:url(loader.gif) center center no-repeat;
	float:left;
	width:80%;
	min-height:600px;
}

#variantviewer{
	float:left;
	width:100%;
	min-width:830px;
	height:100%;
}

.frame{
	float:left;
	min-width:830px;
	width: 100%;
	display: table-cell;
	display: table-cell;
	padding: 0px !important;
	margin: 0px !important;
	vertical-align: top;
	border-spacing:0px;
	border-collapse: separate;
	overflow:hidden;
	height:100%;
}

#biocircos{
	width:100%;
	margin-left:120px;
	padding:50px;
	float:left;
}




/*-- Table --*/

.sorting_asc {
	color:black;
}

.scrollStyle {
	overflow-x:auto;
}

thead tr th{
	background-color: #38537f;
	color: white;
	height:10px;
}

#tablewrapper {
	box-shadow: 2px 2px 10px;
	width: 100%;
	height: 100%;
}

.scrolltable {
	overflow: hidden;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}

.scrolltable > .header {  }

.scrolltable > .tablebody{
	width: -webkit-fit-content;
	overflow-y:scroll;
	flex: 1;
	-webkit-flex: 1;

}

#Gene > div.right-cell > div > div.dataTableView {
	width: 100%;
}

#gene-table{
	float:left;
	width: 100%;
	height: 100%;
}


.tablebody table td{
	border: 1px solid #f2f2f2;

}

.tablebody tr {
	background-color:white;
}


.table-view {
	width:100%;
	height: 100%;
	display:table;
	table-layout: fixed;
	float:left;
}


.dataTableView {
	max-height: 100%;
	-webkit-transition: max-width .25s; /* Safari */
    transition: max-width .25s;
    -webkit-transition: min-width .25s; /* Safari */
    transition: min-width .25s;
    display: table-cell;
    width: 100%;
    float:left;
    overflow:scroll;
}



.right-cell {
	display: table-cell;
	min-width:250px;
	max-width:250px;
	min-height:100%;
	padding: 0px !important;
	margin: 0px !important;
	vertical-align: top;
	border-spacing:0px;
	border-collapse: separate;
	overflow-x:hidden;
	overflow-y:scroll;

	width: 100%;
	margin:0px;
	height:100%;

}

.selected-panel {
	height: 25px;
	width: 100%;
	padding:5px;
	overflow: scroll;
	border-bottom: 1px solid #f2f2f2;
	background-color:#fcfcfc;
	-moz-box-shadow:    inset 0 0 2px #000000;
   -webkit-box-shadow: inset 0 0 2px #000000;
   box-shadow:         inset 0 0 2px #000000;
}

.data-table {
	min-width:100%;
}

.dataTables_scrollHeadInner {
	min-width: 100%;
}

.dataTable {
	min-width: 100%;
}

.dataTable td, th{
	min-width:40px;
	width:40px;
	max-width:40px;
}


.dataTable td.selected {
	background-color: #fcec5d;
	background: linear-gradient(#ffface,#fff34f);
	border: 1px solid black;
	border-bottom: 1px solid black;
}

table.dataTable tbody tr.selected{
	background-color:var(--tertiary-color));
}


.dataTable td{
	border-bottom: .1px solid #d6d6d6;
	overflow:hidden;
}



.dataTables_scrollHead .dataTable th{
	height: 40px;
	padding: 5px;
	background-color: var(--galaxy1);
	border-bottom: 1px solid var(--galaxy2);
	border-top: 1px solid var(--galaxy2);
	color:black;
}

.dataTables_scrollBody {
	max-height: 70vh;
}


.dataTable tr:hover{
	background-color:#fffeed;
}


/*-- Variant table (top panel) --*/

.top-panel {
	height: 50%;
}


.top-panel > .dataTables_scroll {
	height: 10px;
}


.top-panel {
	height: 100%;
	overflow: hidden;
	padding-bottom:10px;
}



/*-- Footer --*/
footer{
	background-color: #EBD9B3;
	width: 60%;
	min-width: 440px;
	line-height: 40%;
	margin:0 auto;
	margin-top:10px;
	box-shadow: 2px 2px 10px;
	text-align:center;
	padding:4px;
	font-size: 8px;
}