#value	name	release
adipose tissue	Adipose tissue	2020-02-03
adrenal gland	Adrenal gland	2018-10-23
appendix	Appendix	2018-10-23
bone marrow	Bone marrow	2018-10-23
breast	Breast	2018-10-23
bronchus	Bronchus	2018-10-23
cartilage	Cartilage	2020-02-03
caudate	Caudate	2018-10-23
cerebellum	Cerebellum	2018-10-23
cerebral cortex	Cerebral cortex	2018-10-23
cervix_uterine	Cervix, uterine	2018-10-23
choroid plexus	Choroid plexus	2018-10-23
colon	Colon	2018-10-23
dorsal raphe	Dorsal raphe	2020-02-03
duodenum	Duodenum	2018-10-23
endometrium 1	Endometrium 1	2018-10-23
endometrium 2	Endometrium 2	2018-10-23
epididymis	Epididymis	2018-10-23
esophagus	Esophagus	2018-10-23
eye	Eye	2018-10-23
fallopian tube	Fallopian tube	2018-10-23
gallbladder	Gallbladder	2018-10-23
hair	Hair	2018-10-23
heart muscle	Heart muscle	2018-10-23
hippocampus	Hippocampus	2018-10-23
hypothalamus	Hypothalamus	2018-10-23
kidney	Kidney	2018-10-23
lactating breast	Lactating breast	2018-10-23
liver	Liver	2018-10-23
lung	Lung	2018-10-23
lymph node	Lymph node	2018-10-23
nasopharynx	Nasopharynx	2018-10-23
oral mucosa	Oral mucosa	2018-10-23
ovary	Ovary	2018-10-23
pancreas	Pancreas	2018-10-23
parathyroid gland	Parathyroid gland	2018-10-23
pituitary gland	Pituitary gland	2018-10-23
placenta	Placenta	2018-10-23
prostate	Prostate	2018-10-23
rectum	Rectum	2018-10-23
retina	Retina	2018-10-23
salivary gland	Salivary gland	2018-10-23
seminal vesicle	Seminal vesicle	2018-10-23
skeletal muscle	Skeletal muscle	2018-10-23
skin	Skin	2018-10-23
skin 1	Skin 1	2018-10-23
skin 2	Skin 2	2018-10-23
small intestine	Small intestine	2018-10-23
smooth muscle	Smooth muscle	2018-10-23
soft tissue 1	Soft tissue 1	2018-10-23
soft tissue 2	Soft tissue 2	2018-10-23
sole of foot	Sole of foot	2018-10-23
spleen	Spleen	2018-10-23
stomach 1	Stomach 1	2018-10-23
stomach 2	Stomach 2	2018-10-23
substantia nigra	Substantia nigra	2020-02-03
testis	Testis	2018-10-23
thymus	Thymus	2018-10-23
thyroid gland	Thyroid gland	2018-10-23
tonsil	Tonsil	2018-10-23
urinary bladder	Urinary bladder	2018-10-23
vagina	Vagina	2018-10-23
