<tables>
    <table name="proteore_protein_atlas_normal_tissue" comment_char="#">
      <columns>id, release, name, tissue, value</columns>
      <file path="tool-data/proteore_protein_atlas_normal_tissue.loc" />
    </table>
    <table name="proteore_protein_atlas_rna_tissue" comment_char="#">
      <columns>id, release, name, tissue, value</columns>
      <file path="tool-data/proteore_protein_atlas_rna_tissue.loc" />
    </table>
    <table name="HPA_normal_tissues" comment_char="#">
      <columns>value, name, release</columns>
      <file path="tool-data/HPA_normal_tissues.loc" />
    </table>
    <table name="HPA_rna_tissues" comment_char="#">
      <columns>value, name, release</columns>
      <file path="tool-data/HPA_rna_tissues.loc" />
    </table>
</tables>