
<tables>
    <!-- Location of peptide reference files for proteore_ms_observation -->
    <table name='peptide_atlas' comment_char="#">
        <columns>tissue,name,value</columns>
        <file path="tool-data/peptide_atlas.loc" />
    </table>
</tables> 