Trypsin
Arg-C
Asp-N
Asp-N_ambic
Chymotrypsin
CNBr
CNBr+Trypsin
Formic_acid
Lys-C
Lys-C/P
PepsinA
Tryp-CNBr
TrypChymo
Trypsin/P
Trypsin/P+DP
V8-DE
V8-E
semiTrypsin
LysC+AspN
Lys-C/P+DP
Trypsin/P + Asp-N
Asp-C
Trypsin/P+Asp-C
SemiLys
SemiGluC
LysC/P+AspC
GluC
