Oxidation (M)
Acetyl (Protein N-term)
Acetyl (K)
Ala->Arg
Ala->Asn
Ala->Asp
Ala->CamCys
Ala->Cys
Ala->Gln
Ala->Glu
Ala->Gly
Ala->His
Ala->Lys
Ala->Met
Ala->Phe
Ala->Pro
Ala->Ser
Ala->Thr
Ala->Trp
Ala->Tyr
Ala->Val
Ala->Xle
Arg->Ala
Arg->Asn
Arg->Asp
Arg->CamCys
Arg->Cys
Arg->Gln
Arg->Glu
Arg->Gly
Arg->His
Arg->Lys
Arg->Met
Arg->Phe
Arg->Pro
Arg->Ser
Arg->Thr
Arg->Trp
Arg->Tyr
Arg->Val
Arg->Xle
Asn->Ala
Asn->Arg
Asn->Asp
Asn->CamCys
Asn->Cys
Asn->Gln
Asn->Glu
Asn->Gly
Asn->His
Asn->Lys
Asn->Met
Asn->Phe
Asn->Pro
Asn->Ser
Asn->Thr
Asn->Trp
Asn->Tyr
Asn->Val
Asn->Xle
Asp->Ala
Asp->Arg
Asp->Asn
Asp->CamCys
Asp->Cys
Asp->Gln
Asp->Glu
Asp->Gly
Asp->His
Asp->Lys
Asp->Met
Asp->Phe
Asp->Pro
Asp->Ser
Asp->Thr
Asp->Trp
Asp->Tyr
Asp->Val
Asp->Xle
CamCys->Ala
CamCys->Arg
CamCys->Asn
CamCys->Asp
CamCys->Gln
CamCys->Glu
CamCys->Gly
CamCys->His
CamCys->Lys
CamCys->Met
CamCys->Phe
CamCys->Pro
CamCys->Ser
CamCys->Thr
CamCys->Trp
CamCys->Tyr
CamCys->Val
CamCys->Xle
Carbamidomethyl (C)
Cys->Ala
Cys->Arg
Cys->Asn
Cys->Asp
Cys->Gln
Cys->Glu
Cys->Gly
Cys->His
Cys->Lys
Cys->Met
Cys->Phe
Cys->Pro
Cys->Ser
Cys->Thr
Cys->Trp
Cys->Tyr
Cys->Val
Cys->Xle
Deamidation (N)
Deamidation (NQ)
Deamidation 18O (N)
Dimethyl (KR)
Gln->Ala
Gln->Arg
Gln->Asn
Gln->Asp
Gln->CamCys
Gln->Cys
Gln->Glu
Gln->Gly
Gln->His
Gln->Lys
Gln->Met
Gln->Phe
Gln->Pro
Gln->pyro-Glu
Gln->Ser
Gln->Thr
Gln->Trp
Gln->Tyr
Gln->Val
Gln->Xle
Glu->Ala
Glu->Arg
Glu->Asn
Glu->Asp
Glu->CamCys
Glu->Cys
Glu->Gln
Glu->Gly
Glu->His
Glu->Lys
Glu->Met
Glu->Phe
Glu->Pro
Glu->pyro-Glu
Glu->Ser
Glu->Thr
Glu->Trp
Glu->Tyr
Glu->Val
Glu->Xle
Gly->Ala
Gly->Arg
Gly->Asn
Gly->Asp
Gly->CamCys
Gly->Cys
Gly->Gln
Gly->Glu
Gly->His
Gly->Lys
Gly->Met
Gly->Phe
Gly->Pro
Gly->Ser
Gly->Thr
Gly->Trp
Gly->Tyr
Gly->Val
Gly->Xle
GlyGly (K)
His->Ala
His->Arg
His->Asn
His->Asp
His->CamCys
His->Cys
His->Gln
His->Glu
His->Gly
His->Lys
His->Met
His->Phe
His->Pro
His->Ser
His->Thr
His->Trp
His->Tyr
His->Val
His->Xle
Lys->Ala
Lys->Arg
Lys->Asn
Lys->Asp
Lys->CamCys
Lys->Cys
Lys->Gln
Lys->Glu
Lys->Gly
Lys->His
Lys->Met
Lys->Phe
Lys->Pro
Lys->Ser
Lys->Thr
Lys->Trp
Lys->Tyr
Lys->Val
Lys->Xle
Met->Ala
Met->Arg
Met->Asn
Met->Asp
Met->CamCys
Met->Cys
Met->Gln
Met->Glu
Met->Gly
Met->His
Met->Lys
Met->Phe
Met->Pro
Met->Ser
Met->Thr
Met->Trp
Met->Tyr
Met->Val
Met->Xle
Methyl (KR)
OHexNAc
Phe->Ala
Phe->Arg
Phe->Asn
Phe->Asp
Phe->CamCys
Phe->Cys
Phe->Gln
Phe->Glu
Phe->Gly
Phe->His
Phe->Lys
Phe->Met
Phe->Pro
Phe->Ser
Phe->Thr
Phe->Trp
Phe->Tyr
Phe->Val
Phe->Xle
Phospho (STY)
Pro->Ala
Pro->Arg
Pro->Asn
Pro->Asp
Pro->CamCys
Pro->Cys
Pro->Gln
Pro->Glu
Pro->Gly
Pro->His
Pro->Lys
Pro->Met
Pro->Phe
Pro->Ser
Pro->Thr
Pro->Trp
Pro->Tyr
Pro->Val
Pro->Xle
Pro5
Pro6
QQTGG (K)
Ser->Ala
Ser->Arg
Ser->Asn
Ser->Asp
Ser->CamCys
Ser->Cys
Ser->Gln
Ser->Glu
Ser->Gly
Ser->His
Ser->Lys
Ser->Met
Ser->Phe
Ser->Pro
Ser->Thr
Ser->Trp
Ser->Tyr
Ser->Val
Ser->Xle
Thr->Ala
Thr->Arg
Thr->Asn
Thr->Asp
Thr->CamCys
Thr->Cys
Thr->Gln
Thr->Glu
Thr->Gly
Thr->His
Thr->Lys
Thr->Met
Thr->Phe
Thr->Pro
Thr->Ser
Thr->Trp
Thr->Tyr
Thr->Val
Thr->Xle
Trimethyl (K)
Trp->Ala
Trp->Arg
Trp->Asn
Trp->Asp
Trp->CamCys
Trp->Cys
Trp->Gln
Trp->Glu
Trp->Gly
Trp->His
Trp->Lys
Trp->Met
Trp->Phe
Trp->Pro
Trp->Ser
Trp->Thr
Trp->Tyr
Trp->Val
Trp->Xle
Tyr->Ala
Tyr->Arg
Tyr->Asn
Tyr->Asp
Tyr->CamCys
Tyr->Cys
Tyr->Gln
Tyr->Glu
Tyr->Gly
Tyr->His
Tyr->Lys
Tyr->Met
Tyr->Phe
Tyr->Pro
Tyr->Ser
Tyr->Thr
Tyr->Trp
Tyr->Val
Tyr->Xle
Val->Ala
Val->Arg
Val->Asn
Val->Asp
Val->CamCys
Val->Cys
Val->Gln
Val->Glu
Val->Gly
Val->His
Val->Lys
Val->Met
Val->Phe
Val->Pro
Val->Ser
Val->Thr
Val->Trp
Val->Tyr
Val->Xle
Xle->Ala
Xle->Arg
Xle->Asn
Xle->Asp
Xle->CamCys
Xle->Cys
Xle->Gln
Xle->Glu
Xle->Gly
Xle->His
Xle->Lys
Xle->Met
Xle->Phe
Xle->Pro
Xle->Ser
Xle->Thr
Xle->Trp
Xle->Tyr
Xle->Val
