<tables>
    <table name="proteases" comment_char="#">
      <columns>value</columns>
      <file path="tool-data/maxquant_proteases.loc" />
    </table>
    <table name="maxquant_mods" comment_char="#">
      <columns>value</columns>
      <file path="tool-data/maxquant_mods.loc" />
    </table>
</tables>
