rno00010	Glycolysis / Gluconeogenesis
rno00020	Citrate cycle (TCA cycle)
rno00030	Pentose phosphate pathway
rno00040	Pentose and glucuronate interconversions
rno00051	Fructose and mannose metabolism
rno00052	Galactose metabolism
rno00053	Ascorbate and aldarate metabolism
rno00061	Fatty acid biosynthesis
rno00062	Fatty acid elongation
rno00071	Fatty acid degradation
rno00072	Synthesis and degradation of ketone bodies
rno00100	Steroid biosynthesis
rno00120	Primary bile acid biosynthesis
rno00130	Ubiquinone and other terpenoid-quinone biosynthesis
rno00140	Steroid hormone biosynthesis
rno00190	Oxidative phosphorylation
rno00220	Arginine biosynthesis
rno00230	Purine metabolism
rno00232	Caffeine metabolism
rno00240	Pyrimidine metabolism
rno00250	Alanine, aspartate and glutamate metabolism
rno00260	Glycine, serine and threonine metabolism
rno00270	Cysteine and methionine metabolism
rno00280	Valine, leucine and isoleucine degradation
rno00290	Valine, leucine and isoleucine biosynthesis
rno00310	Lysine degradation
rno00330	Arginine and proline metabolism
rno00340	Histidine metabolism
rno00350	Tyrosine metabolism
rno00360	Phenylalanine metabolism
rno00380	Tryptophan metabolism
rno00400	Phenylalanine, tyrosine and tryptophan biosynthesis
rno00410	beta-Alanine metabolism
rno00430	Taurine and hypotaurine metabolism
rno00440	Phosphonate and phosphinate metabolism
rno00450	Selenocompound metabolism
rno00471	D-Glutamine and D-glutamate metabolism
rno00472	D-Arginine and D-ornithine metabolism
rno00480	Glutathione metabolism
rno00500	Starch and sucrose metabolism
rno00510	N-Glycan biosynthesis
rno00511	Other glycan degradation
rno00512	Mucin type O-glycan biosynthesis
rno00514	Other types of O-glycan biosynthesis
rno00515	Mannose type O-glycan biosynthesis
rno00520	Amino sugar and nucleotide sugar metabolism
rno00524	Neomycin, kanamycin and gentamicin biosynthesis
rno00531	Glycosaminoglycan degradation
rno00532	Glycosaminoglycan biosynthesis
rno00533	Glycosaminoglycan biosynthesis
rno00534	Glycosaminoglycan biosynthesis
rno00561	Glycerolipid metabolism
rno00562	Inositol phosphate metabolism
rno00563	Glycosylphosphatidylinositol (GPI)-anchor biosynthesis
rno00564	Glycerophospholipid metabolism
rno00565	Ether lipid metabolism
rno00590	Arachidonic acid metabolism
rno00591	Linoleic acid metabolism
rno00592	alpha-Linolenic acid metabolism
rno00600	Sphingolipid metabolism
rno00601	Glycosphingolipid biosynthesis
rno00603	Glycosphingolipid biosynthesis
rno00604	Glycosphingolipid biosynthesis
rno00620	Pyruvate metabolism
rno00630	Glyoxylate and dicarboxylate metabolism
rno00640	Propanoate metabolism
rno00650	Butanoate metabolism
rno00670	One carbon pool by folate
rno00730	Thiamine metabolism
rno00740	Riboflavin metabolism
rno00750	Vitamin B6 metabolism
rno00760	Nicotinate and nicotinamide metabolism
rno00770	Pantothenate and CoA biosynthesis
rno00780	Biotin metabolism
rno00785	Lipoic acid metabolism
rno00790	Folate biosynthesis
rno00830	Retinol metabolism
rno00860	Porphyrin and chlorophyll metabolism
rno00900	Terpenoid backbone biosynthesis
rno00910	Nitrogen metabolism
rno00920	Sulfur metabolism
rno00970	Aminoacyl-tRNA biosynthesis
rno00980	Metabolism of xenobiotics by cytochrome P450
rno00982	Drug metabolism
rno00983	Drug metabolism
rno01040	Biosynthesis of unsaturated fatty acids
rno01100	Metabolic pathways
rno01200	Carbon metabolism
rno01210	2-Oxocarboxylic acid metabolism
rno01212	Fatty acid metabolism
rno01230	Biosynthesis of amino acids
rno01521	EGFR tyrosine kinase inhibitor resistance
rno01522	Endocrine resistance
rno01523	Antifolate resistance
rno01524	Platinum drug resistance
rno02010	ABC transporters
rno03008	Ribosome biogenesis in eukaryotes
rno03010	Ribosome
rno03013	RNA transport
rno03015	mRNA surveillance pathway
rno03018	RNA degradation
rno03020	RNA polymerase
rno03022	Basal transcription factors
rno03030	DNA replication
rno03040	Spliceosome
rno03050	Proteasome
rno03060	Protein export
rno03320	PPAR signaling pathway
rno03410	Base excision repair
rno03420	Nucleotide excision repair
rno03430	Mismatch repair
rno03440	Homologous recombination
rno03450	Non-homologous end-joining
rno03460	Fanconi anemia pathway
rno04010	MAPK signaling pathway
rno04012	ErbB signaling pathway
rno04014	Ras signaling pathway
rno04015	Rap1 signaling pathway
rno04020	Calcium signaling pathway
rno04022	cGMP-PKG signaling pathway
rno04024	cAMP signaling pathway
rno04060	Cytokine-cytokine receptor interaction
rno04062	Chemokine signaling pathway
rno04064	NF-kappa B signaling pathway
rno04066	HIF-1 signaling pathway
rno04068	FoxO signaling pathway
rno04070	Phosphatidylinositol signaling system
rno04071	Sphingolipid signaling pathway
rno04072	Phospholipase D signaling pathway
rno04080	Neuroactive ligand-receptor interaction
rno04110	Cell cycle
rno04114	Oocyte meiosis
rno04115	p53 signaling pathway
rno04120	Ubiquitin mediated proteolysis
rno04122	Sulfur relay system
rno04130	SNARE interactions in vesicular transport
rno04136	Autophagy
rno04137	Mitophagy
rno04140	Autophagy
rno04141	Protein processing in endoplasmic reticulum
rno04142	Lysosome
rno04144	Endocytosis
rno04145	Phagosome
rno04146	Peroxisome
rno04150	mTOR signaling pathway
rno04151	PI3K-Akt signaling pathway
rno04152	AMPK signaling pathway
rno04210	Apoptosis
rno04211	Longevity regulating pathway
rno04213	Longevity regulating pathway
rno04215	Apoptosis
rno04216	Ferroptosis
rno04217	Necroptosis
rno04218	Cellular senescence
rno04260	Cardiac muscle contraction
rno04261	Adrenergic signaling in cardiomyocytes
rno04270	Vascular smooth muscle contraction
rno04310	Wnt signaling pathway
rno04330	Notch signaling pathway
rno04340	Hedgehog signaling pathway
rno04350	TGF-beta signaling pathway
rno04360	Axon guidance
rno04370	VEGF signaling pathway
rno04371	Apelin signaling pathway
rno04380	Osteoclast differentiation
rno04390	Hippo signaling pathway
rno04392	Hippo signaling pathway
rno04510	Focal adhesion
rno04512	ECM-receptor interaction
rno04514	Cell adhesion molecules (CAMs)
rno04520	Adherens junction
rno04530	Tight junction
rno04540	Gap junction
rno04550	Signaling pathways regulating pluripotency of stem cells
rno04610	Complement and coagulation cascades
rno04611	Platelet activation
rno04612	Antigen processing and presentation
rno04614	Renin-angiotensin system
rno04620	Toll-like receptor signaling pathway
rno04621	NOD-like receptor signaling pathway
rno04622	RIG-I-like receptor signaling pathway
rno04623	Cytosolic DNA-sensing pathway
rno04625	C-type lectin receptor signaling pathway
rno04630	JAK-STAT signaling pathway
rno04640	Hematopoietic cell lineage
rno04650	Natural killer cell mediated cytotoxicity
rno04657	IL-17 signaling pathway
rno04658	Th1 and Th2 cell differentiation
rno04659	Th17 cell differentiation
rno04660	T cell receptor signaling pathway
rno04662	B cell receptor signaling pathway
rno04664	Fc epsilon RI signaling pathway
rno04666	Fc gamma R-mediated phagocytosis
rno04668	TNF signaling pathway
rno04670	Leukocyte transendothelial migration
rno04672	Intestinal immune network for IgA production
rno04710	Circadian rhythm
rno04713	Circadian entrainment
rno04714	Thermogenesis
rno04720	Long-term potentiation
rno04721	Synaptic vesicle cycle
rno04722	Neurotrophin signaling pathway
rno04723	Retrograde endocannabinoid signaling
rno04724	Glutamatergic synapse
rno04725	Cholinergic synapse
rno04726	Serotonergic synapse
rno04727	GABAergic synapse
rno04728	Dopaminergic synapse
rno04730	Long-term depression
rno04740	Olfactory transduction
rno04742	Taste transduction
rno04744	Phototransduction
rno04750	Inflammatory mediator regulation of TRP channels
rno04810	Regulation of actin cytoskeleton
rno04910	Insulin signaling pathway
rno04911	Insulin secretion
rno04912	GnRH signaling pathway
rno04913	Ovarian steroidogenesis
rno04914	Progesterone-mediated oocyte maturation
rno04915	Estrogen signaling pathway
rno04916	Melanogenesis
rno04917	Prolactin signaling pathway
rno04918	Thyroid hormone synthesis
rno04919	Thyroid hormone signaling pathway
rno04920	Adipocytokine signaling pathway
rno04921	Oxytocin signaling pathway
rno04922	Glucagon signaling pathway
rno04923	Regulation of lipolysis in adipocytes
rno04924	Renin secretion
rno04925	Aldosterone synthesis and secretion
rno04926	Relaxin signaling pathway
rno04927	Cortisol synthesis and secretion
rno04928	Parathyroid hormone synthesis, secretion and action
rno04930	Type II diabetes mellitus
rno04931	Insulin resistance
rno04932	Non-alcoholic fatty liver disease (NAFLD)
rno04933	AGE-RAGE signaling pathway in diabetic complications
rno04934	Cushing syndrome
rno04940	Type I diabetes mellitus
rno04950	Maturity onset diabetes of the young
rno04960	Aldosterone-regulated sodium reabsorption
rno04961	Endocrine and other factor-regulated calcium reabsorption
rno04962	Vasopressin-regulated water reabsorption
rno04964	Proximal tubule bicarbonate reclamation
rno04966	Collecting duct acid secretion
rno04970	Salivary secretion
rno04971	Gastric acid secretion
rno04972	Pancreatic secretion
rno04973	Carbohydrate digestion and absorption
rno04974	Protein digestion and absorption
rno04975	Fat digestion and absorption
rno04976	Bile secretion
rno04977	Vitamin digestion and absorption
rno04978	Mineral absorption
rno04979	Cholesterol metabolism
rno05010	Alzheimer disease
rno05012	Parkinson disease
rno05014	Amyotrophic lateral sclerosis (ALS)
rno05016	Huntington disease
rno05020	Prion diseases
rno05030	Cocaine addiction
rno05031	Amphetamine addiction
rno05032	Morphine addiction
rno05033	Nicotine addiction
rno05034	Alcoholism
rno05100	Bacterial invasion of epithelial cells
rno05132	Salmonella infection
rno05133	Pertussis
rno05134	Legionellosis
rno05140	Leishmaniasis
rno05142	Chagas disease (American trypanosomiasis)
rno05143	African trypanosomiasis
rno05144	Malaria
rno05145	Toxoplasmosis
rno05146	Amoebiasis
rno05150	Staphylococcus aureus infection
rno05152	Tuberculosis
rno05160	Hepatitis C
rno05161	Hepatitis B
rno05162	Measles
rno05163	Human cytomegalovirus infection
rno05164	Influenza A
rno05165	Human papillomavirus infection
rno05166	Human T-cell leukemia virus 1 infection
rno05167	Kaposi sarcoma-associated herpesvirus infection
rno05168	Herpes simplex infection
rno05169	Epstein-Barr virus infection
rno05170	Human immunodeficiency virus 1 infection
rno05200	Pathways in cancer
rno05202	Transcriptional misregulation in cancer
rno05203	Viral carcinogenesis
rno05204	Chemical carcinogenesis
rno05205	Proteoglycans in cancer
rno05206	MicroRNAs in cancer
rno05210	Colorectal cancer
rno05211	Renal cell carcinoma
rno05212	Pancreatic cancer
rno05213	Endometrial cancer
rno05214	Glioma
rno05215	Prostate cancer
rno05216	Thyroid cancer
rno05217	Basal cell carcinoma
rno05218	Melanoma
rno05219	Bladder cancer
rno05220	Chronic myeloid leukemia
rno05221	Acute myeloid leukemia
rno05222	Small cell lung cancer
rno05223	Non-small cell lung cancer
rno05224	Breast cancer
rno05225	Hepatocellular carcinoma
rno05226	Gastric cancer
rno05230	Central carbon metabolism in cancer
rno05231	Choline metabolism in cancer
rno05310	Asthma
rno05320	Autoimmune thyroid disease
rno05321	Inflammatory bowel disease (IBD)
rno05322	Systemic lupus erythematosus
rno05323	Rheumatoid arthritis
rno05330	Allograft rejection
rno05332	Graft-versus-host disease
rno05340	Primary immunodeficiency
rno05410	Hypertrophic cardiomyopathy (HCM)
rno05412	Arrhythmogenic right ventricular cardiomyopathy (ARVC)
rno05414	Dilated cardiomyopathy (DCM)
rno05416	Viral myocarditis
rno05418	Fluid shear stress and atherosclerosis
