<tables>
    <table name="proteore_protein_full_atlas" comment_char="#">
      <columns>id, release, name, tissue, value</columns>
      <file path="tool-data/proteore_protein_full_atlas.loc" />
    </table>
</tables>