body {
  padding-top: 70px;
}
.navbar-fixed-top {
  background-color: #9e9f9f;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.row{
  margin-top: 10px;
  margin-bottom: 15px;
}

.msi_button {
    margin-bottom: 10px;
}

.ui-widget-content {
    background: none;
    border: none;
}

.ui-widget-header {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(195, 219, 255, 0);
}

.score-filter {
    border: 1px solid #DDD;
}

.brush .extent {
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

svg {
    font: 10px sans-serif;
}

.resize path {
    fill: #666;
    fill-opacity: .8;
    stroke: #000;
    stroke-width: 1.5px;
}

path {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.low_score {
    color: darkblue;
}
.high_score {
    color: red;
}

.score-svg-component {
    background: rgba(195, 219, 255, 0.31);
}

.glyphicon-ok-circle {
    color: green;
}

.pep_seq {
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    font-weight: bold;
}

.pep_seq_selected {
    background: rgba(70, 130, 180, 0.62);
}

#selectable .ui-selecting { background: rgba(70, 130, 180, 0.62); }
#selectable .ui-selected { background: darkblue; color: white; }

.well {
    background-color: #DDDDDD;
    border: 1px solid #DDDDDD;
}

.btn-group {
    padding-bottom: 15px;
}

.p_accession {
    background-color: rgba(91, 192, 222, 0.72);
}

.prot-sequence {
    color: rgba(14, 92, 173, 0.5);
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.pep-cov {
    color: rgb(14, 92, 173);
}

.pep-cov-hide {
    color: transparent;
}

.inv {
    color: transparent;
}

#mod_banner {
    font-weight: 200;
    overflow-y: scroll;
    margin-bottom: 20px
}

.baseMod {
    cursor: help;
    color: rgb(10, 173, 63);
    font-size: larger;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.general_mod {
    color: darkgreen;
}

.oxidation {
    color: rgb(14, 92, 173);

}

.itraq4plex {
    color: rgb(173, 0, 0);

}