#id	release name	species	value
#9979809892	biogrid_human_2019-01-08	Human (Homo sapiens) 08/01/2019	Human	PPI_dictionaries/Human_biogrid.json
#9979809892	biogrid_mouse_2019-01-08	Mouse (Mus musculus) 08/01/2019	Mouse	PPI_dictionaries/Mouse_biogrid.json
#9979809892	biogrid_rat_2019-01-08	Rat (Rattus norvegicus) 08/01/2019 Rat	PPI_dictionaries/Rat_biogrid.json
