#This file lists the locations of reference file for id_converter tool
#<id>	<release>   <name>	<species>	<value>
#9979818977	human_id_mapping_23-10-2018	Human (homo sapiens 23/10/2018)	Human	tool-data/human_id_mapping_23-10-2018.tsv