#This is a sample file distributed with Galaxy that enables tools
#to use a directory of eggnog_mapper data files. 
#
# eggnog-mapper requires the following files to be installed in the data directory:
#  https://github.com/jhcepas/eggnog-mapper/blob/master/data/og2level.tsv.gz
#  http://eggnogdb.embl.de/download/eggnog_4.5/eggnog-mapper-data/eggnog.db.gz
#  http://eggnogdb.embl.de/download/eggnog_4.5/eggnog-mapper-data/OG_fasta.tar.gz
# In addition individual HMM DBs can be installed from:
#  http://eggnogdb.embl.de/download/eggnog_4.5/eggnog-mapper-data/hmmdb_levels/
# A complete diamond database is available from:
#  http://eggnogdb.embl.de/download/eggnog_4.5/eggnog-mapper-data/eggnog_proteins.dmnd.gz
#
# 
#name	value	type	data_dir	
#eggnog_4.5	eggnog_4.5 data	/depot/data2/galaxy/eggnog/eggnog_4.5/data
#eggnog_4.5arcNOG	arcNOG	hmmer	eggnog_4.5
#eggnog_4.5euk	euk	hmmer	eggnog_4.5
#eggnog_4.5dmnd	eggnog_proteins.dmnd	diamond	eggnog_4.5
