#This is a sample file distributed with Galaxy that enables tools
#to use a directory of eggnog_mapper data files.
#
# eggnog-mapper requires the following files to be installed in the data directory:
#  https://github.com/jhcepas/eggnog-mapper/blob/master/data/og2level.tsv.gz
#  http://eggnog5.embl.de/download/emapperdb-5.0.2/eggnog.db.gz
# A complete diamond database is available from:
#  http://eggnog5.embl.de/download/emapperdb-5.0.2/eggnog_proteins.dmnd.gz
#
# The python script download_eggnog_data.py,
# included with eggnog_mapper, can be used to download the files to the correct directory
#
# The near-equivalence of columns "value" and "db" is needed for the tests to work,
# and for the setting of --data_dir to the parent directory of eggnog.db
# The complicated eggNOG database structure makes passing custom HMM databases somewhat tricky.
# See test-data/cached_locally/eggnog_mapper.loc for how this was done with the included test databases
# In all other cases, when the appropriate HMM database (for example, "thaNOG") was downloaded from eggnogdb.embl.de,
# value and db should be the same (in the example, both should be "thaNOG")
#
#
#db_version	name	path
#5.0	eggnog_5.0	/path/to/directory/that/contains/eggnog.db
