#This is a sample file distributed with Galaxy that enables tools
#to use a directory of eggnog_mapper data files. 
#
# eggnog-mapper requires the following files to be installed in the data directory:
#  https://github.com/jhcepas/eggnog-mapper/blob/master/data/og2level.tsv.gz
#  http://eggnogdb.embl.de/download/eggnog_4.5/eggnog-mapper-data/eggnog.db.gz
#  http://eggnogdb.embl.de/download/eggnog_4.5/eggnog-mapper-data/OG_fasta.tar.gz
# In addition individual HMM DBs can be installed from:
#  http://eggnogdb.embl.de/download/eggnog_4.5/eggnog-mapper-data/hmmdb_levels/
# A complete diamond database is available from:
#  http://eggnogdb.embl.de/download/eggnog_4.5/eggnog-mapper-data/eggnog_proteins.dmnd.gz
#
# The python script download_eggnog_data.py, 
# included with eggnog_mapper, can be used to download the files to the correct directory
#
# The near-equivalence of columns "value" and "db" is needed for the tests to work,
# and for the setting of --data_dir to the parent directory of eggnog.db
# The complicated eggNOG database structure makes passing custom HMM databases somewhat tricky. 
# See test-data/cached_locally/eggnog_mapper.loc for how this was done with the included test databases
# In all other cases, when the appropriate HMM database (for example, "thaNOG") was downloaded from eggnogdb.embl.de, 
# value and db should be the same (in the example, both should be "thaNOG")
#
#
#key	db_version	value	name	path
#4.5.1_NOG	4.5.1	NOG	Full eggNOG database (NOG)	
#4.5.1_euk	4.5.1	euk	Eukaryotes (euk)	
#4.5.1_aproNOG	4.5.1	aproNOG	Proteobacteria_alpha (aproNOG)	
#4.5.1_aproNOG	4.5.1	ENOG411CB2I	ENOG411CB2I (custom)	/path/to/custom/hmmdb/ENOG411CB2I
