<tables>
    <table name="proteore_biogrid_dictionaries" comment_char="#">
        <columns>id, release, name, species, value</columns>
        <file path="tool-data/proteore_biogrid_dictionaries.loc" />
    </table>
    <table name="proteore_bioplex_dictionaries" comment_char="#">
        <columns>id, release, name, species, value</columns>
        <file path="tool-data/proteore_bioplex_dictionaries.loc" />
    </table>
    <table name="proteore_humap_dictionaries" comment_char="#">
        <columns>id, release,name, species, value</columns>
        <file path="tool-data/proteore_humap_dictionaries.loc" />
    </table>
</tables>