<?xml version="1.0"?>
<job_conf>
    <plugins workers="4">
        <!-- "workers" is the number of threads for the runner's work queue.
             The default from <plugins> is used if not defined for a <plugin>.
         -->
        <plugin id="plugin_local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
        <plugin id="plugin_pulsar_rest" type="runner" load="galaxy.jobs.runners.pulsar:PulsarRESTJobRunner">
             <!-- Allow optimized HTTP calls with libcurl (defaults to urllib) -->
             <!-- <param id="transport">curl</param> -->
              <!-- *Experimental Caching*: Next parameter enables caching.
                    Likely will not work with newer features such as MQ support.
                    If this is enabled be sure to specify a `file_cache_dir` in
                    the remote Pulsar's servers main configuration file.
              -->
             <!-- <param id="cache">True</param> -->
        </plugin>
    </plugins>

    <destinations default="destination_local">
        <destination id="destination_local" runner="plugin_local"/>

        <destination id="destination_winserver_pulsar_rest" runner="plugin_pulsar_rest">
          <param id="manager">_default_</param>
          <param id="url">http://winserver.myu.edu:8900/</param>
          <!-- If set, private_token must match token in remote Pulsar's
          configuration. -->
          <param id="private_token">your_ultra-secret_magic_token_here</param>
              <!-- Uncomment the following statement to disable file staging (e.g.
                 if there is a shared file system between Galaxy and the Pulsar
                 server). Alternatively action can be set to 'copy' - to replace
                 http transfers with file system copies, 'remote_transfer' to cause
                 the Pulsar to initiate HTTP transfers instead of Galaxy, or
                 'remote_copy' to cause Pulsar to initiate file system copies.
                 If setting this to 'remote_transfer' be sure to specify a
                 'galaxy_url' attribute on the runner plugin above. 
               -->
              <!-- <param id="default_file_action">none</param> -->
              <!-- The above option is just the default, the transfer behavior
                 none|copy|http can be configured on a per path basis via the
                 following file. See Pulsar documentation for more details and
                 examples.  
               -->
              <!-- <param id="file_action_config">file_actions.yaml</param> -->
              <!-- The non-legacy Pulsar runners will attempt to resolve Galaxy
                 dependencies remotely - to enable this set a tool_dependency_dir
                 in Pulsar's configuration (can work with all the same dependency
                 resolutions mechanisms as Galaxy - tool Shed installs, Galaxy
                 packages, etc...). To disable this behavior, set the follow parameter
                 to none. To generate the dependency resolution command locally
                 set the following parameter local.
               -->
              <!-- <param id="dependency_resolution">none</params> -->
              <!-- Uncomment following option to enable setting metadata on remote
                 Pulsar server. The 'use_remote_datatypes' option is available for
                 determining whether to use remotely configured datatypes or local
                 ones (both alternatives are a little brittle). 
               -->
              <!-- <param id="remote_metadata">true</param> -->
              <!-- <param id="use_remote_datatypes">false</param> -->
              <!-- <param id="remote_property_galaxy_home">/path/to/remote/galaxy-central</param> -->
              <!-- If remote Pulsar server is configured to run jobs as the real user,
                 uncomment the following line to pass the current Galaxy user
                 along. 
               -->
              <!-- <param id="submit_user">$__user_name__</param> -->
              <!-- Various other submission parameters can be passed along to the Pulsar
                 whose use will depend on the remote Pulsar's configured job manager.
                 For instance:
               -->
               <!-- <param id="submit_native_specification">-P bignodes -R y -pe threads 8</param> -->
              <!-- Disable parameter rewriting and rewrite generated commands
                 instead. This may be required if remote host is Windows machine
                 but probably not otherwise.
               -->
               <!-- <param id="rewrite_parameters">false</params> -->
        </destination>

    </destinations>

    <tools>
        <tool id="msconvert_win" destination="destination_winserver_pulsar_rest"/>
    </tools>

</job_conf>



