<tables>
    <!-- Locations of pepnovo models -->
    <table name="pepnovo_models" comment_char="#" allow_duplicate_entries="False">
        <columns>name,value,path</columns>
        <file path="tool-data/pepnovo_models.loc" />
    </table>
</tables>
