# This is a sample file distributed with Galaxy that enables tools
# to use pepnovo models
# The file has three tab separated columns: name, value, and path.
# The idea is that there are a number of models in a directory:
# - each model directory has a unique name (columns 2 and 0)
# - each model can contain a set of models (column 1)
#
# The following example works fo the default models from 
# http://proteomics.ucsd.edu/Software/PepNovo.html (just remove the comment
# chars and replace DIR_TO_PEPNOVO_MODELS)

#default_models	CID_IT_TRYP	DIR_TO_PEPNOVO_MODELS
#default_models	LTQ_COMP	DIR_TO_PEPNOVO_MODELS
#default_models	DBC4_PEAK	DIR_TO_PEPNOVO_MODELS
#default_models	CID_IT_TRYP_TAG5	DIR_TO_PEPNOVO_MODELS
#default_models	CID_IT_TRYP_TAG6	DIR_TO_PEPNOVO_MODELS
#default_models	ITDNV_PEAK	DIR_TO_PEPNOVO_MODELS
#default_models	CID_IT_TRYP_SCORE	DIR_TO_PEPNOVO_MODELS
#default_models	CID_IT_TRYP_TAG3	DIR_TO_PEPNOVO_MODELS
#default_models	CID_IT_TRYP_DNVPART	DIR_TO_PEPNOVO_MODELS
#default_models	CID_IT_TRYP_TAG4	DIR_TO_PEPNOVO_MODELS
#default_models	CID_IT_TRYP_DB	DIR_TO_PEPNOVO_MODELS
#default_models	CID_IT_TRYP_CSP	DIR_TO_PEPNOVO_MODELS
