<tables>
    <table name="proteore_protein_atlas_normal_tissue" comment_char="#">
      <columns>id, name, tissue, value</columns>
      <file path="tool-data/proteore_protein_atlas_normal_tissue.loc" />
    </table>
    <table name="proteore_protein_atlas_tumor_tissue" comment_char="#">
      <columns>id, name, tissue, value</columns>
      <file path="tool-data/proteore_protein_atlas_tumor_tissue.loc" />
    </table>
</tables>