<tables>
    <!-- Location of Human Protein Atlas -->
    <table name="proteinatlas" comment_char="#">
      <columns>name, value, path</columns>
      <file path="tool-data/proteinatlas.loc" />
    </table>
</tables>