#This file lists the locations of reference file for id_converter tool
human_id_mapping	Human (H. sapiens)	tool-data/human_id_mapping_file.tsv
mouse_id_mapping	Mouse (M. musculus)	tool-data/mouse_id_mapping.tsv
rat_id_mapping	Rat (R. norvegicus)	tool-data/rat_id_mapping.tsv
