#This file lists the locations of reference file for id_converter tool
#<id>	<name>	<value>	<path>
#human_id_mapping_23-10-2018	Human (homo sapiens)	Human	tool-data/human_id_mapping_file.tsv
#mouse_id_mapping_23-10-2018	Mouse (Mus musculus)	Mouse	tool-data/mouse_id_mapping.tsv
#rat_id_mapping_23-10-2018	Rat (Rattus norvegicus)	Rat	tool-data/rat_id_mapping.tsv