#This file lists the locations of reference file for id_converter tool
#<id>   <name>  <value> <path>
#human_id_mapping_01-01-2018    Human (homo sapiens)    human_id_mapping        id_mapping_dictionaries/human_id_mapping_file.pickle
#mouse_id_mapping_01-01-2018    Mouse (Mus musculus)    mouse_id_mapping        id_mapping_dictionaries/mouse_id_mapping.pickle
#rat_id_mapping_01-01-2018      Rat (Rattus norvegicus) rat_id_mapping  id_mapping_dictionaries/rat_id_mapping.pickle
