#This file lists the locations of reference file for id_converter tool
human_id_mapping	Human (Homo sapiens)	tool-data/human_id_mapping_04-01-2019.pickle
mouse_id_mapping	Mouse (Mus musculus)	tool-data/mouse_id_mapping_04-01-2019.pickle
rat_id_mapping	Rat (Rattus norvegicus)	tool-data/rat_id_mapping_04-01-2019.pickle