#This file lists the locations of reference file for id_converter tool
human_id_mapping	Human (Homo sapiens)	tool-data/human_id_mapping_23-10-2018.tsv
mouse_id_mapping	Mouse (Mus musculus)	tool-data/mouse_id_mapping_23-10-2018.tsv
rat_id_mapping Rat (Rattus norvegicus) tool-data/rat_id_mapping_23-10-2018.tsv