#<id>	<name>	<value>
nextprot_ref_08-10-2018	neXtProt release 08-10-2018	tool-data/nextprot_ref_08-10-2018.tsv
nextprot_ref_09-03-2019	neXtProt release 09-03-2019	tool-data/nextprot_ref_09-03-2019.tsv
