<?xml version="1.0"?>
<tables>
    <table name='proteore_nextprot_ref' comment_char="#">
      <columns>id, name, value</columns>
      <file path="tool-data/proteore_nextprot_ref.loc"/>
    </table>
</tables>
