Trypsin	Trypsin
Trypsin/P	Trypsin/P
2-iodobenzoate	2-iodobenzoate
Arg-C	Arg-C
Asp-N	Asp-N
Asp-N_ambic	Asp-N_ambic
CNBr	CNBr
Chymotrypsin	Chymotrypsin
Formic_acid	Formic_acid
Lys-C	Lys-C
Lys-C/P	Lys-C/P
NoEnzyme	NoEnzyme
PepsinA	PepsinA
TrypChymo	TrypChymo
V8-DE	V8-DE
V8-E	V8-E
glutamyl endopeptidase	glutamyl endopeptidase
leukocyte elastase	leukocyte elastase
no cleavage	no cleavage
proline endopeptidase	proline endopeptidase
unspecific cleavage	unspecific cleavage

