hsa_pathways    Human (hsa)     hsa     tool-data/hsa_pathways.loc
mmu_pathways    Mouse (mmu)     mmu     tool-data/mmu_pathways.loc
rno_pathways	Rat (Rattus norvegicus)	rno	tool-data/rno_pathways.loc
