#<id>   <name>  <tissue> <value>
Human_Adrenal_gland_2014-08	Human Adrenal gland 2014/08	Human_Adrenal_gland	tool-data/Human_Adrenal_gland_2014-08.tsv
Human_Brain_2015-01	Human Brain 2015/01	Human_Brain	tool-data/Human_Brain_2015-01.tsv
Human_Breast_2014-08	Human Breast 2014/08	Human_Breast	tool-data/Human_Breast_2014-08.tsv
Human_CSF_2014-09	Human CSF 2014/09	Human_CSF	tool-data/Human_CSF_2014-09.tsv
Human_Colon_cancer_2013-02	Human Colon cancer 2013/02	Human_Colon_cancer	tool-data/Human_Colon_cancer_2013-02.tsv
Human_Digestive_system_2014-08	Human Digestive system 2014/08	Human_Digestive_system	tool-data/Human_Digestive_system_2014-08.tsv
Human_Female_reproductive_system_2014-08	Human Female reproductive system 2014/08	Human_Female_reproductive_system	tool-data/Human_Female_reproductive_system_2014-08.tsv
Human_Heart_2014-08	Human Heart 2014/08	Human_Heart	tool-data/Human_Heart_2014-08.tsv
Human_Kidney_2014-08	Human Kidney 2014/08	Human_Kidney	tool-data/Human_Kidney_2014-08.tsv
Human_Liver_2014-08	Human Liver 2014/08	Human_Liver	tool-data/Human_Liver_2014-08.tsv
Human_Lung_2014-08	Human Lung 2014/08	Human_Lung	tool-data/Human_Lung_2014-08.tsv
Human_Male_reproductive_system_2014-08	Human Male reproductive system 2014/08	Human_Male_reproductive_system	tool-data/Human_Male_reproductive_system_2014-08.tsv
Human_Pancreas_2014-08	Human Pancreas 2014/08	Human_Pancreas	tool-data/Human_Pancreas_2014-08.tsv
Human_Plasma_non_glyco_2017-04	Human Plasma non glyco 2017/04	Human_Plasma_non_glyco	tool-data/Human_Plasma_non_glyco_2017-04.tsv
Human_Spleen_2014-08	Human Spleen 2014/08	Human_Spleen	tool-data/Human_Spleen_2014-08.tsv
Human_Testis_2017-01	Human Testis 2017/01	Human_Testis	tool-data/Human_Testis_2017-01.tsv
Human_Urinary_bladder_2014-08	Human Urinary bladder 2014/08	Human_Urinary_bladder	tool-data/Human_Urinary_bladder_2014-08.tsv
Human_Urine_2014-08	Human Urine 2014/08	Human_Urine	tool-data/Human_Urine_2014-08.tsv
