
<tables>
    <!-- Location of peptide reference files for proteore_ms_observation -->
    <table name='proteore_peptide_atlas' comment_char="#">
        <columns>id,name,tissue,value</columns>
        <file path="tool-data/proteore_peptide_atlas.loc" />
    </table>
</tables> 