<?xml version="1.0"?>
<tables>
    <table name='proteore_peptide_atlas' comment_char="#">
      <columns>id, name, tissue, value</columns>
      <file path="tool-data/proteore_peptide_atlas.loc"/>
    </table>
    <table name="proteore_protein_atlas_normal_tissue" comment_char="#">
      <columns>id, name, tissue, value</columns>
      <file path="tool-data/proteore_protein_atlas_normal_tissue.loc" />
    </table>
    <table name="proteore_protein_atlas_tumor_tissue" comment_char="#">
      <columns>id, name, tissue, value</columns>
      <file path="tool-data/proteore_protein_atlas_tumor_tissue.loc" />
    </table>
    <table name="proteore_id_mapping_Human" comment_char="#">
      <columns>id, name, species, value</columns>
      <file path="tool-data/proteore_id_mapping_Human.loc" />
    </table>
    <table name="proteore_id_mapping_Mouse" comment_char="#">
      <columns>id, name, species, value</columns>
      <file path="tool-data/proteore_id_mapping_Mouse.loc" />
    </table>
    <table name="proteore_id_mapping_Rat" comment_char="#">
      <columns>id, name, species, value</columns>
      <file path="tool-data/proteore_id_mapping_Rat.loc" />
    </table>
    <table name="proteore_biogrid_dictionaries" comment_char="#">
      <columns>id, name, species, value</columns>
      <file path="tool-data/proteore_biogrid_dictionaries.loc" />
    </table>
    <table name="proteore_bioplex_dictionaries" comment_char="#">
      <columns>id, name, species, value</columns>
      <file path="tool-data/proteore_bioplex_dictionaries.loc" />
    </table>
    <table name="proteore_humap_dictionaries" comment_char="#">
      <columns>id, name, species, value</columns>
      <file path="tool-data/proteore_humap_dictionaries.loc" />
    </table>
</tables>
