<?xml version="1.0"?>
<tables>
    <table name='proteore_peptide_atlas' comment_char="#">
      <columns>id, name, tissue, value</columns>
      <file path="tool-data/proteore_peptide_atlas.loc"/>
    </table>
    <table name="proteore_protein_atlas" comment_char="#">
      <columns>id, name, tissue, value</columns>
      <file path="tool-data/proteore_protein_atlas.loc" />
    </table>
    <table name="proteore_id_mapping" comment_char="#">
      <columns>id, name, value, path</columns>
      <file path="tool-data/proteore_id_mapping.loc" />
    </table>
    <table name="proteore_biogrid_dictionaries" comment_char="#">
      <columns>id, name, species, value</columns>
      <file path="tool-data/proteore_biogrid_dictionaries.loc" />
    </table>
    <table name="proteore_bioplex_dictionaries" comment_char="#">
      <columns>id, name, species, value,</columns>
      <file path="tool-data/proteore_bioplex_dictionaries.loc" />
    </table>
    <table name="proteore_humap_dictionaries" comment_char="#">
      <columns>id, name, species, value</columns>
      <file path="tool-data/proteore_humap_dictionaries.loc" />
    </table>
</tables>
