<?xml version="1.0"?>
<tables>
    <table name='peptide_atlas' comment_char="#">
        <columns>tissue,name,value</columns>
        <file path="tool-data/peptide_atlas.loc"/>
    </table>
    <table name="protein_atlas" comment_char="#">
      <columns>name, value, path</columns>
      <file path="tool-data/protein_atlas.loc" />
    </table>
    <table name="id_mapping" comment_char="#">
      <columns>name, value, path</columns>
      <file path="tool-data/id_mapping.loc" />
    </table>
</tables>
