<tables>
    <!-- Location of ID Mapping files for id_converter-->
    <table name="proteore_id_mapping_Human" comment_char="#">
      <columns>id, release, name, species, value</columns>
      <file path="tool-data/proteore_id_mapping_Human.loc" />
    </table>
    <table name="proteore_id_mapping_Mouse" comment_char="#">
      <columns>id, release, name, species, value</columns>
      <file path="tool-data/proteore_id_mapping_Mouse.loc" />
    </table>
    <table name="proteore_id_mapping_Rat" comment_char="#">
      <columns>id, release, name, species, value</columns>
      <file path="tool-data/proteore_id_mapping_Rat.loc" />
    </table>
</tables>