#This file lists the locations and dbkeys of Human Protein Atlas files.
#<name>	<display_name (value)>          <file_path>
#full	Full Human Protein Atlas	/db/proteinatlas/current/proteinatlas.tsv
#normal_tissue	HPA Normal Tissue	/db/proteinatlas/current/normal_tissue.tsv
#pathology	HPA Tumor Tissue	/db/proteinatlas/current/pathology.tsv
