#This file lists the locations and dbkeys of Human Protein Atlas files.
#<name>	<display_name (value)>          <file_path>
full	Full Human Protein Atlas (23/10/18)	tool-data/HPA_full_atlas_23-10-2018.tsv
normal_tissue	HPA Normal Tissue (23/10/18)	tool-data/HPA_normal_tissue_23-10-2018.tsv
pathology	HPA Tumor Tissue (23/10/18)	tool-data/HPA_pathology_23-10-2018.tsv
