#This file lists the locations name and values of reference files for Get expression data tool
#This is a tab separated file (TAB, not 4 spaces !)
#<id>	<release>   <name> <tissue>	<value>
#9979819281	HPA_RNA_tissue_19-07-2018	HPA RNA tissue 19/07/2018	HPA_rna_tissue	/projet/galaxydev/galaxy/tool-data/protein_atlas/projet/galaxydev/galaxy/database/jobs_directory/019/19159/dataset_39307_files/HPA_rna_tissue_19-07-2018.tsv
