#value	name
mmu00010	Glycolysis / Gluconeogenesis
mmu00020	Citrate cycle (TCA cycle)
mmu00030	Pentose phosphate pathway
mmu00040	Pentose and glucuronate interconversions
mmu00051	Fructose and mannose metabolism
mmu00052	Galactose metabolism
mmu00053	Ascorbate and aldarate metabolism
mmu00061	Fatty acid biosynthesis
mmu00062	Fatty acid elongation
mmu00071	Fatty acid degradation
mmu00072	Synthesis and degradation of ketone bodies
mmu00100	Steroid biosynthesis
mmu00120	Primary bile acid biosynthesis
mmu00130	Ubiquinone and other terpenoid-quinone biosynthesis
mmu00140	Steroid hormone biosynthesis
mmu00190	Oxidative phosphorylation
mmu00220	Arginine biosynthesis
mmu00230	Purine metabolism
mmu00232	Caffeine metabolism
mmu00240	Pyrimidine metabolism
mmu00250	Alanine, aspartate and glutamate metabolism
mmu00260	Glycine, serine and threonine metabolism
mmu00270	Cysteine and methionine metabolism
mmu00280	Valine, leucine and isoleucine degradation
mmu00290	Valine, leucine and isoleucine biosynthesis
mmu00310	Lysine degradation
mmu00330	Arginine and proline metabolism
mmu00340	Histidine metabolism
mmu00350	Tyrosine metabolism
mmu00360	Phenylalanine metabolism
mmu00380	Tryptophan metabolism
mmu00400	Phenylalanine, tyrosine and tryptophan biosynthesis
mmu00410	beta-Alanine metabolism
mmu00430	Taurine and hypotaurine metabolism
mmu00440	Phosphonate and phosphinate metabolism
mmu00450	Selenocompound metabolism
mmu00471	D-Glutamine and D-glutamate metabolism
mmu00472	D-Arginine and D-ornithine metabolism
mmu00480	Glutathione metabolism
mmu00500	Starch and sucrose metabolism
mmu00510	N-Glycan biosynthesis
mmu00511	Other glycan degradation
mmu00512	Mucin type O-glycan biosynthesis
mmu00514	Other types of O-glycan biosynthesis
mmu00515	Mannose type O-glycan biosynthesis
mmu00520	Amino sugar and nucleotide sugar metabolism
mmu00524	Neomycin, kanamycin and gentamicin biosynthesis
mmu00531	Glycosaminoglycan degradation
mmu00532	Glycosaminoglycan biosynthesis
mmu00533	Glycosaminoglycan biosynthesis
mmu00534	Glycosaminoglycan biosynthesis
mmu00561	Glycerolipid metabolism
mmu00562	Inositol phosphate metabolism
mmu00563	Glycosylphosphatidylinositol (GPI)-anchor biosynthesis
mmu00564	Glycerophospholipid metabolism
mmu00565	Ether lipid metabolism
mmu00590	Arachidonic acid metabolism
mmu00591	Linoleic acid metabolism
mmu00592	alpha-Linolenic acid metabolism
mmu00600	Sphingolipid metabolism
mmu00601	Glycosphingolipid biosynthesis
mmu00603	Glycosphingolipid biosynthesis
mmu00604	Glycosphingolipid biosynthesis
mmu00620	Pyruvate metabolism
mmu00630	Glyoxylate and dicarboxylate metabolism
mmu00640	Propanoate metabolism
mmu00650	Butanoate metabolism
mmu00670	One carbon pool by folate
mmu00730	Thiamine metabolism
mmu00740	Riboflavin metabolism
mmu00750	Vitamin B6 metabolism
mmu00760	Nicotinate and nicotinamide metabolism
mmu00770	Pantothenate and CoA biosynthesis
mmu00780	Biotin metabolism
mmu00785	Lipoic acid metabolism
mmu00790	Folate biosynthesis
mmu00830	Retinol metabolism
mmu00860	Porphyrin and chlorophyll metabolism
mmu00900	Terpenoid backbone biosynthesis
mmu00910	Nitrogen metabolism
mmu00920	Sulfur metabolism
mmu00970	Aminoacyl-tRNA biosynthesis
mmu00980	Metabolism of xenobiotics by cytochrome P450
mmu00982	Drug metabolism
mmu00983	Drug metabolism
mmu01040	Biosynthesis of unsaturated fatty acids
mmu01100	Metabolic pathways
mmu01200	Carbon metabolism
mmu01210	2-Oxocarboxylic acid metabolism
mmu01212	Fatty acid metabolism
mmu01230	Biosynthesis of amino acids
mmu01521	EGFR tyrosine kinase inhibitor resistance
mmu01522	Endocrine resistance
mmu01523	Antifolate resistance
mmu01524	Platinum drug resistance
mmu02010	ABC transporters
mmu03008	Ribosome biogenesis in eukaryotes
mmu03010	Ribosome
mmu03013	RNA transport
mmu03015	mRNA surveillance pathway
mmu03018	RNA degradation
mmu03020	RNA polymerase
mmu03022	Basal transcription factors
mmu03030	DNA replication
mmu03040	Spliceosome
mmu03050	Proteasome
mmu03060	Protein export
mmu03320	PPAR signaling pathway
mmu03410	Base excision repair
mmu03420	Nucleotide excision repair
mmu03430	Mismatch repair
mmu03440	Homologous recombination
mmu03450	Non-homologous end-joining
mmu03460	Fanconi anemia pathway
mmu04010	MAPK signaling pathway
mmu04012	ErbB signaling pathway
mmu04014	Ras signaling pathway
mmu04015	Rap1 signaling pathway
mmu04020	Calcium signaling pathway
mmu04022	cGMP-PKG signaling pathway
mmu04024	cAMP signaling pathway
mmu04060	Cytokine-cytokine receptor interaction
mmu04062	Chemokine signaling pathway
mmu04064	NF-kappa B signaling pathway
mmu04066	HIF-1 signaling pathway
mmu04068	FoxO signaling pathway
mmu04070	Phosphatidylinositol signaling system
mmu04071	Sphingolipid signaling pathway
mmu04072	Phospholipase D signaling pathway
mmu04080	Neuroactive ligand-receptor interaction
mmu04110	Cell cycle
mmu04114	Oocyte meiosis
mmu04115	p53 signaling pathway
mmu04120	Ubiquitin mediated proteolysis
mmu04122	Sulfur relay system
mmu04130	SNARE interactions in vesicular transport
mmu04136	Autophagy
mmu04137	Mitophagy
mmu04140	Autophagy
mmu04141	Protein processing in endoplasmic reticulum
mmu04142	Lysosome
mmu04144	Endocytosis
mmu04145	Phagosome
mmu04146	Peroxisome
mmu04150	mTOR signaling pathway
mmu04151	PI3K-Akt signaling pathway
mmu04152	AMPK signaling pathway
mmu04210	Apoptosis
mmu04211	Longevity regulating pathway
mmu04213	Longevity regulating pathway
mmu04215	Apoptosis
mmu04216	Ferroptosis
mmu04217	Necroptosis
mmu04218	Cellular senescence
mmu04260	Cardiac muscle contraction
mmu04261	Adrenergic signaling in cardiomyocytes
mmu04270	Vascular smooth muscle contraction
mmu04310	Wnt signaling pathway
mmu04330	Notch signaling pathway
mmu04340	Hedgehog signaling pathway
mmu04350	TGF-beta signaling pathway
mmu04360	Axon guidance
mmu04370	VEGF signaling pathway
mmu04371	Apelin signaling pathway
mmu04380	Osteoclast differentiation
mmu04390	Hippo signaling pathway
mmu04392	Hippo signaling pathway
mmu04510	Focal adhesion
mmu04512	ECM-receptor interaction
mmu04514	Cell adhesion molecules (CAMs)
mmu04520	Adherens junction
mmu04530	Tight junction
mmu04540	Gap junction
mmu04550	Signaling pathways regulating pluripotency of stem cells
mmu04610	Complement and coagulation cascades
mmu04611	Platelet activation
mmu04612	Antigen processing and presentation
mmu04614	Renin-angiotensin system
mmu04620	Toll-like receptor signaling pathway
mmu04621	NOD-like receptor signaling pathway
mmu04622	RIG-I-like receptor signaling pathway
mmu04623	Cytosolic DNA-sensing pathway
mmu04625	C-type lectin receptor signaling pathway
mmu04630	Jak-STAT signaling pathway
mmu04640	Hematopoietic cell lineage
mmu04650	Natural killer cell mediated cytotoxicity
mmu04657	IL-17 signaling pathway
mmu04658	Th1 and Th2 cell differentiation
mmu04659	Th17 cell differentiation
mmu04660	T cell receptor signaling pathway
mmu04662	B cell receptor signaling pathway
mmu04664	Fc epsilon RI signaling pathway
mmu04666	Fc gamma R-mediated phagocytosis
mmu04668	TNF signaling pathway
mmu04670	Leukocyte transendothelial migration
mmu04672	Intestinal immune network for IgA production
mmu04710	Circadian rhythm
mmu04713	Circadian entrainment
mmu04714	Thermogenesis
mmu04720	Long-term potentiation
mmu04721	Synaptic vesicle cycle
mmu04722	Neurotrophin signaling pathway
mmu04723	Retrograde endocannabinoid signaling
mmu04724	Glutamatergic synapse
mmu04725	Cholinergic synapse
mmu04726	Serotonergic synapse
mmu04727	GABAergic synapse
mmu04728	Dopaminergic synapse
mmu04730	Long-term depression
mmu04740	Olfactory transduction
mmu04742	Taste transduction
mmu04744	Phototransduction
mmu04750	Inflammatory mediator regulation of TRP channels
mmu04810	Regulation of actin cytoskeleton
mmu04910	Insulin signaling pathway
mmu04911	Insulin secretion
mmu04912	GnRH signaling pathway
mmu04913	Ovarian steroidogenesis
mmu04914	Progesterone-mediated oocyte maturation
mmu04915	Estrogen signaling pathway
mmu04916	Melanogenesis
mmu04917	Prolactin signaling pathway
mmu04918	Thyroid hormone synthesis
mmu04919	Thyroid hormone signaling pathway
mmu04920	Adipocytokine signaling pathway
mmu04921	Oxytocin signaling pathway
mmu04922	Glucagon signaling pathway
mmu04923	Regulation of lipolysis in adipocytes
mmu04924	Renin secretion
mmu04925	Aldosterone synthesis and secretion
mmu04926	Relaxin signaling pathway
mmu04927	Cortisol synthesis and secretion
mmu04928	Parathyroid hormone synthesis, secretion and action
mmu04930	Type II diabetes mellitus
mmu04931	Insulin resistance
mmu04932	Non-alcoholic fatty liver disease (NAFLD)
mmu04933	AGE-RAGE signaling pathway in diabetic complications
mmu04934	Cushing's syndrome
mmu04940	Type I diabetes mellitus
mmu04950	Maturity onset diabetes of the young
mmu04960	Aldosterone-regulated sodium reabsorption
mmu04961	Endocrine and other factor-regulated calcium reabsorption
mmu04962	Vasopressin-regulated water reabsorption
mmu04964	Proximal tubule bicarbonate reclamation
mmu04966	Collecting duct acid secretion
mmu04970	Salivary secretion
mmu04971	Gastric acid secretion
mmu04972	Pancreatic secretion
mmu04973	Carbohydrate digestion and absorption
mmu04974	Protein digestion and absorption
mmu04975	Fat digestion and absorption
mmu04976	Bile secretion
mmu04977	Vitamin digestion and absorption
mmu04978	Mineral absorption
mmu04979	Cholesterol metabolism
mmu05010	Alzheimer's disease
mmu05012	Parkinson's disease
mmu05014	Amyotrophic lateral sclerosis (ALS)
mmu05016	Huntington's disease
mmu05020	Prion diseases
mmu05030	Cocaine addiction
mmu05031	Amphetamine addiction
mmu05032	Morphine addiction
mmu05033	Nicotine addiction
mmu05034	Alcoholism
mmu05100	Bacterial invasion of epithelial cells
mmu05132	Salmonella infection
mmu05133	Pertussis
mmu05134	Legionellosis
mmu05140	Leishmaniasis
mmu05142	Chagas disease (American trypanosomiasis)
mmu05143	African trypanosomiasis
mmu05144	Malaria
mmu05145	Toxoplasmosis
mmu05146	Amoebiasis
mmu05150	Staphylococcus aureus infection
mmu05152	Tuberculosis
mmu05160	Hepatitis C
mmu05161	Hepatitis B
mmu05162	Measles
mmu05163	Human cytomegalovirus infection
mmu05164	Influenza A
mmu05165	Human papillomavirus infection
mmu05166	HTLV-I infection
mmu05167	Kaposi's sarcoma-associated herpesvirus infection
mmu05168	Herpes simplex infection
mmu05169	Epstein-Barr virus infection
mmu05200	Pathways in cancer
mmu05202	Transcriptional misregulation in cancer
mmu05203	Viral carcinogenesis
mmu05204	Chemical carcinogenesis
mmu05205	Proteoglycans in cancer
mmu05206	MicroRNAs in cancer
mmu05210	Colorectal cancer
mmu05211	Renal cell carcinoma
mmu05212	Pancreatic cancer
mmu05213	Endometrial cancer
mmu05214	Glioma
mmu05215	Prostate cancer
mmu05216	Thyroid cancer
mmu05217	Basal cell carcinoma
mmu05218	Melanoma
mmu05219	Bladder cancer
mmu05220	Chronic myeloid leukemia
mmu05221	Acute myeloid leukemia
mmu05222	Small cell lung cancer
mmu05223	Non-small cell lung cancer
mmu05224	Breast cancer
mmu05225	Hepatocellular carcinoma
mmu05226	Gastric cancer
mmu05230	Central carbon metabolism in cancer
mmu05231	Choline metabolism in cancer
mmu05310	Asthma
mmu05320	Autoimmune thyroid disease
mmu05321	Inflammatory bowel disease (IBD)
mmu05322	Systemic lupus erythematosus
mmu05323	Rheumatoid arthritis
mmu05330	Allograft rejection
mmu05332	Graft-versus-host disease
mmu05340	Primary immunodeficiency
mmu05410	Hypertrophic cardiomyopathy (HCM)
mmu05412	Arrhythmogenic right ventricular cardiomyopathy (ARVC)
mmu05414	Dilated cardiomyopathy (DCM)
mmu05416	Viral myocarditis
mmu05418	Fluid shear stress and atherosclerosis
