<tables>
    <!-- Location kegg_pathways file for pathview tool -->
    <table name="kegg_pathways" comment_char="#" >
        <columns>dbkey,name,value,path</columns>
        <file path="tool-data/kegg_pathways.loc" />
    </table>
    <table name="hsa_pathways" comment_char="#">
        <columns>value,name</columns>
        <file path="tool-data/hsa_pathways.tsv" />
    </table>
    <table name="mmu_pathways" comment_char="#">
        <columns>value,name</columns>
        <file path="tool-data/mmu_pathways.tsv" />
    </table>
</tables>